In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df  = pd.read_csv('../Datasets/data.csv')
df.head()

,permalink,name,homepage_url,category_list,market,funding_total_usd,status,country_code,state_code,region,...,secondary_market,product_crowdfunding,round_A,round_B,round_C,round_D,round_E,round_F,round_G,round_H
0,/organization/waywire,#waywire,http://www.waywire.com,|Entertainment|Politics|Social Media|News|,News,"17,50,000",acquired,USA,NY,New York City,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,/organization/tv-communications,&TV Communications,http://enjoyandtv.com,|Games|,Games,"40,00,000",operating,USA,CA,Los Angeles,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,/organization/rock-your-paper,'Rock' Your Paper,http://www.rockyourpaper.org,|Publishing|Education|,Publishing,"40,000",operating,EST,NaN,Tallinn,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,/organization/in-touch-network,(In)Touch Network,http://www.InTouchNetwork.com,|Electronics|Guides|Coffee|Restaurants|Music|i...,Electronics,"15,00,000",operating,GBR,NaN,London,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,/organization/r-ranch-and-mine,-R- Ranch and Mine,NaN,|Tourism|Entertainment|Games|,Tourism,"60,000",operating,USA,TX,Dallas,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49438 entries, 0 to 49437
Data columns (total 39 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   permalink             49438 non-null  object
 1   name                  49437 non-null  object
 2   homepage_url          45987 non-null  object
 3   category_list         45475 non-null  object
 4    market               45468 non-null  object
 5    funding_total_usd    49434 non-null  object
 6   status                48120 non-null  object
 7   country_code          44162 non-null  object
 8   state_code            30159 non-null  object
 9   region                44162 non-null  object
 10  city                  43319 non-null  object
 11  funding_rounds        49434 non-null  float64
 12  founded_at            38551 non-null  object
 13  founded_month         38479 non-null  object
 14  founded_quarter       38479 non-null  object
 15  founded_year          38479 non-null  float64
 16  first_funding_at      49434 non-null  object
 17  last_funding_at       49434 non-null  object
 18  seed                  49434 non-null  float64
 19  venture               49434 non-null  float64
 20  equity_crowdfunding   49434 non-null  float64
 21  undisclosed           49434 non-null  float64
 22  convertible_note      49434 non-null  float64
 23  debt_financing        49434 non-null  float64
 24  angel                 49434 non-null  float64
 25  grant                 49434 non-null  float64
 26  private_equity        49434 non-null  float64
 27  post_ipo_equity       49434 non-null  float64
 28  post_ipo_debt         49434 non-null  float64
 29  secondary_market      49434 non-null  float64
 30  product_crowdfunding  49434 non-null  float64
 31  round_A               49434 non-null  float64
 32  round_B               49434 non-null  float64
 33  round_C               49434 non-null  float64
 34  round_D               49434 non-null  float64
 35  round_E               49434 non-null  float64
 36  round_F               49434 non-null  float64
 37  round_G               49434 non-null  float64
 38  round_H               49434 non-null  float64
dtypes: float64(23), object(16)
memory usage: 14.7+ MB

In [4]:
df.rename(columns={' funding_total_usd ': "funding_total_usd",
                    ' market ': "market"},inplace=True)

### Missing data

In [5]:
CATEGORICAL = list(filter(lambda x: df[x].dtype=='object',df.columns))
def show_stats(columns):
    stat = {}
    for col in columns:
        stat[col] =  [df[col].nunique(), df[col].isna().sum(), df[col].dtype]
    return pd.DataFrame.from_dict(stat, orient='index', columns=['Unique',  'Missed values in %', 'DType'])
show_stats(CATEGORICAL)

                   Unique  Missed values in %   DType
permalink           49436                   0  object
name                49349                   1  object
homepage_url        45848                3451  object
category_list       16674                3963  object
market                753                3970  object
funding_total_usd   14617                   4  object
status                  3                1318  object
country_code          115                5276  object
state_code             61               19279  object
region               1089                5276  object
city                 4187                6119  object
founded_at           3369               10887  object
founded_month         420               10959  object
founded_quarter       218               10959  object
first_funding_at     3914                   4  object
last_funding_at      3657                   4  object

cột 'funding_total_usd' đáng nhẽ là dạng số nhưng có dấu phẩy nên phải covert về numeric

In [6]:
df['funding_total_usd'].head()

0     17,50,000
1     40,00,000
2         40,000
3     15,00,000
4         60,000
Name: funding_total_usd, dtype: object

In [7]:
def str_to_int(s: str):
    try:
        s = s.replace(',', '')
        if '-' in s:
            s = 0
        return int(s)
    except ValueError:
        return s
    except AttributeError:
        return s
df['funding_total_usd'] = df['funding_total_usd'].apply(str_to_int)

In [8]:
df = df[df['funding_total_usd']!=0]

covert các cột datetime

In [9]:
df[['founded_at','first_funding_at','last_funding_at']].head()

   founded_at first_funding_at last_funding_at
0  01/06/2012       30/06/2012      30/06/2012
1         NaN       04/06/2010      23/09/2010
2  26/10/2012       09/08/2012      09/08/2012
3  01/04/2011       01/04/2011      01/04/2011
4  01/01/2014       17/08/2014      26/09/2014

In [10]:
format_date = ('founded_at','first_funding_at','last_funding_at')
for i in format_date:
  df[i] = pd.to_datetime(df[i], errors = 'coerce')

In [11]:
#Để giảm độ phức tạp, trong khi xử lý các trường biến ngày, chuyển đổi ngày thực tế thành ngày tương đối, mô tả khoảng cách từ khi thành lập đến lần cấp vốn đầu tiên và cuối cùng, sau đó bỏ ngày thành lập.

df['age_first_funding'] = (df['first_funding_at']-df['founded_at'])/pd.Timedelta(days=365)
df['age_last_funding'] = (df['last_funding_at']-df['founded_at'])/pd.Timedelta(days=365)
df['founded_month'] = pd.DatetimeIndex(df['founded_at']).month
df['founded_quarter'] = pd.DatetimeIndex(df['founded_at']).quarter

In [12]:
df.isnull().sum()

permalink                   0
name                        1
homepage_url             2316
category_list            2506
market                   2511
funding_total_usd           4
status                   1109
country_code             3822
state_code              15290
region                   3822
city                     4508
funding_rounds              4
founded_at               8710
founded_month            8710
founded_quarter          8710
founded_year             8775
first_funding_at            6
last_funding_at             4
seed                        4
venture                     4
equity_crowdfunding         4
undisclosed                 4
convertible_note            4
debt_financing              4
angel                       4
grant                       4
private_equity              4
post_ipo_equity             4
post_ipo_debt               4
secondary_market            4
product_crowdfunding        4
round_A                     4
round_B                     4
round_C                     4
round_D                     4
round_E                     4
round_F                     4
round_G                     4
round_H                     4
age_first_funding        8712
age_last_funding         8710
dtype: int64

xoá các cột không cần thiết

In [13]:
df = df.drop(['permalink','homepage_url' ,'state_code','region','city','founded_at','first_funding_at','funding_total_usd','last_funding_at','category_list' ], axis = 1)

xoá tất cả các dupplicate

In [14]:
df = df.drop_duplicates()
df.shape

(40908, 31)

Xu li cac cut numeric

In [15]:
show_stats(list(filter(lambda x: df[x].dtype=='float64',df.columns)))

                      Unique  Missed values in %    DType
funding_rounds            17                   3  float64
founded_month             12                8709  float64
founded_quarter            4                8709  float64
founded_year             101                8774  float64
seed                    3337                   3  float64
venture                 9300                   3  float64
equity_crowdfunding      252                   3  float64
undisclosed              687                   3  float64
convertible_note         299                   3  float64
debt_financing          1872                   3  float64
angel                    999                   3  float64
grant                    532                   3  float64
private_equity           847                   3  float64
post_ipo_equity          239                   3  float64
post_ipo_debt             57                   3  float64
secondary_market          20                   3  float64
product_crowdfunding     176                   3  float64
round_A                 2035                   3  float64
round_B                 1269                   3  float64
round_C                  739                   3  float64
round_D                  458                   3  float64
round_E                  225                   3  float64
round_F                  110                   3  float64
round_G                   32                   3  float64
round_H                    5                   3  float64
age_first_funding       6284                8711  float64
age_last_funding        6753                8709  float64

In [17]:
df[['founded_month','founded_quarter','founded_year']].head()

   founded_month  founded_quarter  founded_year
0            1.0              1.0        2012.0
1            NaN              NaN           NaN
2           10.0              4.0        2012.0
3            1.0              1.0        2011.0
4            1.0              1.0        2014.0

41k data là khá lớn, hoàn toàn có thể drop null

In [19]:
df = df.dropna()
df.shape

(28290, 31)

In [20]:
df.isnull().sum().sum()

0